
@{
    ViewBag.Title = "ControlRegistros";
}

<h1>Control de registros </h1>
<h2>En este apartado podras acceder a las tablas para editar y/o eliminar registros</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modificar/Eliminar usuarios/empleados </h4>
                    <p class="card-text">Presione para desplegar tabla y opciones de modificación de usuarios/empleados. </p>
                    <a href="/User/Details" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Modificar/Eliminar departamentos </h4>
                    <p class="card-text">
                        Presione para desplegar tabla y opciones de modificación de departamentos.

                    </p>
                    <a href="/Dpto/Details" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Detalles de documentos </h4>
                    
                    <a href="/Doc/Details" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
</div>