
@{
    ViewBag.Title = "FormControl";
}

<h1>Creación de registros</h1>
<h2>En esta parte podras acceder a crear registros.</h2>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear usuarios/empleados. </h4>
                    <p class="card-text">
                    Presione para desplegar el formulario
                    de usuarios/empleados </p>
                    <a href="/User/Create" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear departamentos. </h4>
                    <p class="card-text">Presione para desplegar el formulario de departamentos.</p>
                    <a href="/Dpto/Create" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Crear documentos. </h4>
                    <p class="card-text">Presione para desplegar el formulario de documentos.</p>
                    <a href="/Doc/Create" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
        
    
</div>
<br />
