@{
    ViewBag.Title = "Home Page";
}



<div class="card mb-3" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/Alela/images/undraw_Website_setup_re_d4y9.svg" width="400" height="200" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Mi nombre es Huascar Mejía</h5>
                <p class="card-text">Esta es mi demo de una app de control de documentos, aquí mi link a github y algunas de mis redes sociales.</p>

                  <i style=" "><a href="https://github.com/mahelsu" target="_blank"><img src="~/Content/Alela/images/icons8_github_6.ico" /></a></i>
                  <i style=" "><a href="https://www.instagram.com/hem.myo/" target="_blank"><img src="~/Content/Alela/images/icons8_instagram_48px_1.png" /></a></i>
                  <i style=" "><a href="https://twitter.com/mahelsy" target="_blank"><img src="~/Content/Alela/images/icons8_twitter.ico" /></a></i>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

</div>
<br />
<br />