
.card{
    border:thin;
}

/*input[type="text"] {
    border: none;
    border-bottom: 1px solid #24305E;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0094ff;
    font-size: 16px;
}*/

input[type="number"],
input[type="password"],
input[type="text"] {
    border: none;
    border-bottom: 1px solid #24305E;
    background: transparent;
    outline: none;
    height: 40px;
    color: #0094ff;
    font-size: 16px;
}

.left_col {
    background-color: #24305E;
    
}

.nav_title {
    background-color: #24305E;
}
body {
    background-color: #24305E;
    
}


table{
    font-size:17px;
}

