
@{
    ViewBag.Title = "IndexReport";
}


<h1>Reportes </h1>
<h2>En este apartado podras acceder a reportes de todos los registros y filtros</h2>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de empleados. </h4>

                    <a href="/Report/ReporteEmpleado" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de departamentos. </h4>

                    <a href="/Report/ReporteDepartamento" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h2 class="DocumentHeading">Reportes de documentos.</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de documentos .</h4>

                    <a href="/Report/ResultadoRptDoc" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de documentos por departamento de origen. </h4>

                    <a href="/Report/ReporteDocOrigenF" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
  
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de documentos por departamento de destino. </h4>
                    <a href="/Report/ReporteDocDestinoF" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de documentos por lapso de tiempo. </h4>
                    <a href="/Report/ReporteDocFechaF" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Reporte de documentos por empleado </h4>
                    <a href="/Report/ReporteEmpDocB" class="btn btn-7 btn-7c btn-icon-only icon-arrow-right"></a>
                </div>
            </div>
        </div>
     </div>

 <style>
    .DocumentHeading {
       font-size: xx-large;
     }
 </style>
